.git
.github
.gitignore
.dvc
.dvcignore
data/
outputs/
reports/
simulation/
tests/
scripts/
notebooks/
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.ruff_cache
dvc.yaml
dvc.lock
pyproject.toml
requirements.txt
requirements-serve.txt
README.md
